@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="container align-content-center shadow-lg" style="        background-color: #003049;
        padding-top: 10px;
        border-radius: 10px;">
        <h3 class="text-center text-white" style="border:solid; border-color:#F77f00; border-radius:5px; ">Navigation</h3>
        <div class="row align-content-center" style="border-radius:10px;">
            <a class="col btn-link btn-secondary align-items-center" asp-area="" asp-controller="Users" asp-action="Index" style="text-decoration-color: #F77f00;
        background-color:#003049;">
                <i class="fas fa-users text-center" style="color: white;"></i><h3 style="color: white;
        text-decoration-color: #F77f00; background-color:#003049">
                    Users
                </h3>
            </a>
            <a class="col btn-link btn-secondary align-content-center" asp-area="" asp-controller="Restaurants" asp-action="Index" style="text-decoration-color: #F77f00;
        background-color:#003049;">
                <i class="fas fa-utensils" style="color: white;"></i><h3 style="color: white;
        text-decoration-color: #F77f00; background-color:#003049">
                    Restaurants
                </h3>
            </a>

            <a class="col btn-link btn-secondary align-content-center" asp-area="" asp-controller="ConnectedUsers" asp-action="Index" style="text-decoration-color: #F77f00;
        background-color:#003049;">
                <i class="fas fa-user-friends" style="color: white;"></i><h3 style="color: white;
        text-decoration-color: #F77f00; background-color:#003049">
                    Friends
                </h3>
            </a>



        </div>
        <div class="row" style="border-radius: 10px;">
            <a class="col btn-link btn-secondary align-content-center" asp-area="" asp-controller="MatchSessions" asp-action="Index" style="text-decoration-color: #F77f00;
        background-color:#003049;">
                <i class="fas fa-code-branch" style="color: white;"></i><h3 style="color: white;
        text-decoration-color: #F77f00; background-color:#003049">
                    Match Sessions
                </h3>
            </a>
            <a class="col btn-link btn-secondary align-content-center" asp-area="" asp-controller="AcceptedRestaurants" asp-action="Index" style="text-decoration-color: #F77f00;
        background-color:#003049;">
                <i class="far fa-check-circle" style="color: white;"></i><h3 style="color: white;
        text-decoration-color: #F77f00; background-color:#003049">
                    Accepted Restaurants
                </h3>
            </a>
            <a class="col btn-link btn-secondary align-content-center" asp-area="" asp-controller="MatchedRestaurants" asp-action="Index" style="text-decoration-color: #F77f00;
        background-color:#003049;">
                <i class="fas fa-hamburger" style="color: white;"></i><h3 style="color: white;
        text-decoration-color: #F77f00; background-color:#003049">
                    Matched Restaurants
                </h3>
            </a>
        </div>
        
    </div>
}
else
	{
	         
	}

