
@{}
<h3 class="text-xl-center">Navigation</h3>
<div class="container jumbotron align-content-between">
    <div class="row">
        <i class="fas fa-asterisk"></i>
        <a class="col" asp-area="" asp-controller="Users" asp-action="Index"><h3>Users</h3></a>
        <i class="fas fa-asterisk text-xl-center"></i>
        <a class="col" asp-area="" asp-controller="Restaurants" asp-action="Index"><h3>Restaurants</h3></a>
        <i class="fas fa-asterisk"></i>
        <a class="col" asp-area="" asp-controller="MatchSessions" asp-action="Index"><h3>Match Sessions</h3></a>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        
    </div>
</div>
   
