@model FoodFIghtAdmin.ViewModels.HomeDetailsViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container align-content-center" style="background-color: #FCBF49; border-radius:10px;">
    <div class="row justify-content-center" style="padding: 10px; align-content: center;">
        <table class="col-2 text-light justify-content-center" style="padding:10px;">

            <thead class="shadow-lg" style="background-color: #003049; padding: 10px;">
                <tr class="col-2">
                    <th class="text-light text-center col-sm-1" style="padding: 5px;">
                        @Html.DisplayFor(model => model.UCount)
                    </th>
                </tr>
                <tr class=" text-light">
                    <th class=" text-light text-center col-sm-1" style="padding: 5px;">
                        <a asp-area="" asp-controller="Users" asp-action="Index" style="color:#F77f00">Users</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="col-2 text-light justify-content-center" style="padding:10px;">
            <thead class="shadow-lg" style="background-color: #D62828; padding: 5px;">
                <tr class="col-2">
                    <th class=" text-light text-center col-sm-1" style="padding: 5px;">
                        @Html.DisplayFor(model => model.RCount)
                    </th>
                </tr>
                <tr class="col-2 shadow-sm ">
                    <th class=" text-light text-center col-sm-1" style="padding: 5px;">
                        <a asp-area="" asp-controller="Restaurants" asp-action="Index" style="color:white;">Restaurants</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="col-2 text-light justify-content-center" style="padding:10px;">
            <thead class="shadow-lg" style="background-color: #F77f00;">
                <tr class="col-2">
                    <th class=" text-light text-center col-sm-1" style="padding: 5px;">
                        @Html.DisplayFor(model => model.MsCount)
                    </th>
                </tr>
                <tr class="col-2">
                    <th class="text-light text-center col-sm-1" style="padding: 5px;">
                        <a asp-area="" asp-controller="MatchSessions" asp-action="Index" style="color: #003049">MatchSessions</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="col-2 text-black justify-content-center" style="padding:10px;">
            <thead class="shadow-lg" style="background-color: #EAE2B7; padding: 5px;">
                <tr class="col-2">
                    <th class=" text-black text-center col-sm-1" style="padding: 5px;">
                        @Html.DisplayFor(model => model.CuCount)
                    </th>
                </tr>
                <tr class="col-2">
                    <th class=" text-black text-center col-sm-1" style="padding: 5px;">
                        <a asp-area="" asp-controller="ConnectedUsers" asp-action="Index" style="color:#F77f00">Friends</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>

</div>
<div class="container" style="padding:10px; border-radius:10px;">
    <div class="row"style="padding:10px; border-radius:10px;">
        <div class="col text-black shadow-lg align-text-center "  style="        background-color: #EAE2B7;
        padding: 10px;
        border-radius: 10px;
">
             
            <a class="row col text-black" style="text-decoration-color:black; align-content:center;" asp-area="Identity" asp-page="/Account/Manage/Index">
                <h1 class="far fa-id-badge" style="color:black;"></h1>
                <h4 class="col row" style="color: #F77f00;">Admin Profile</h4>
                
            </a>

        </div>
        <div class="col text-white shadow-lg" style="background-color: #003049;
        padding:10px;
        border-radius: 10px;
">
            <a class="row col text-black" style="text-decoration-color:white; align-content:center;" asp-area="Identity" asp-page="/Account/Logout">
                <h1 class="fas fa-sign-out-alt" style="color:white;"></h1>
                <h4 class="col row" style="color: #F77f00;">Logout</h4>
                
            </a>
        </div>

    </div>
    <div class="row" style="padding:10px; border-radius:10px;">
        <div class="col text-white shadow-lg" style="background-color: #D62828;
        padding: 10px;
        border-radius: 10px;
">
            <a class="row col text-black" style="text-decoration-color:white; align-content:center;" asp-area="Identity" asp-page="/Account/Register">
                <h1 class="fas fa-user-plus" style="color:white;"></h1>
                <h4 class="col row" style="color: white;">Register Admin</h4>

            </a>
        </div>
        <div class="col text-white shadow-lg" style="background-color: #F77f00;
        padding:10px;
        border-radius: 10px;
">
            <a class="row col text-black" style="text-decoration-color:white; align-content:center;" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                <h1 class="fas fa-key" style="color:white;"></h1>
                <h4 class="col row" style="color: #003049;">Change Password</h4>

            </a>
        </div>

    </div>
    @*<div class="row">
        <div class="col text-black shadow-lg" style="background-color: #EAE2B7; padding: 5px;">
            Metrics for Data sets
            <div class="row col-4"> Coming Soon </div>
        </div>
        <div class="col text-white shadow-lg" style="background-color: #003049; padding: 5px;">
            Data for Other Models
            <div class="row col-4"> Coming Soon </div>
        </div>

    </div>
    <div class="row">
        <div class="col text-white shadow-lg" style="background-color: #D62828; padding: 5px;">
            Metrics for Data Sets
            <div class="row col-4"> Coming Soon </div>
        </div>
        <div class="col text-white shadow-lg" style="background-color: #F77f00; padding: 5px;">
            Data for Other Models
            <div class="row col-4"> Coming Soon </div>
        </div>

    </div>
</div>*@
@*<div class="container" style="padding: 10px;">
    <div class="row text-black shadow-lg" style="background-color: #EAE2B7; padding: 5px;">
        Metrics for Data Sets

    </div>
    <div class="row col-4"> Coming Soon </div>
</div>
<div class="container">
    <div class="row text-white shadow-lg" style="background-color: #F77f00; padding: 5px;">
        Data for Other Models

    </div>
    <div class="row col-4"> Coming Soon </div>
</div>
<div class="container">
    <div class="row text-white shadow-lg" style="background-color: #D62828; padding: 5px;">
        Metrics for Data Sets

    </div>
    <div class="row col-4"> Coming Soon </div>
</div>
<div class="container">
    <div class="row text-white shadow-lg" style="background-color: #003049; padding: 5px;">
        Data for Other Models

    </div>
    <div class="row col-4"> Coming Soon </div>
</div>*@