@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="jumbotron">Welcome To the Food Fight Database Admin Application.</h1>
    <h2 class="text-lg-center">Please use the links above to view the Database tables.</h2>
    <h2 class="text-md-center">If you are looking for the customer website, go <a href="http://www.foodfight.live">here</a>.</h2>
    <img src="~/lib/YellowLogo.png"/>
    
</div>
